.login{
    position: absolute;
    top:15%;
    display:flex;
    flex-direction: column;
    left: 35%;
    padding: .5% 1%;
    width:30vw;
   /*  height: 100vh; */
    color:black;
    background-color: white;
    backdrop-filter: blur(10px);
    overflow: hidden;
    font-size: 2rem;
    align-items: center;
    border-radius: 10%;
}
@media (max-width:800px){
    .login{
        width:100%;

    }
}
.login p{
    font-size: 2rem;
    text-align: center;
    background-color: parl white;
    border-radius: 10px;
    color:rgb(0, 0, 0);
    padding: 5px;
}

.login>form{
    display: grid;
    font-size: 1.5rem;
    width: 80%;
}
.login>form>input{
    font-size: 1.5rem;
    padding: 2%;
    border-radius: 10px;
    width: 50%;
}
.login>form>button{
    font-size: 2rem;
    padding: 1px;
    border-radius: 3px;
    width: 40%;
    background-color: black;
    color:white;
    margin: 3% 30%;
    cursor: pointer;
    transition: 0s;
}
.login>form>button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(194, 194, 199);
}
/* .captacontainer{
    display: grid;
    grid-template-columns: 20% 20%;
} */
.capta{
    padding: 1%;
    font-size: 2rem;
    width: 30%;
    margin: 2%;
    
}
